<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>viewing cultual・art</title>
   <link rel="icon" href="./img/logo.png">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
   <link rel="stylesheet" href="hobby.css"/>
   <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
   <!-- <script defer src="./js/serve.js"></script> -->
</head>

<body>
        <%- include('header.ejs') %>
        <main>
                <!-- big_categori -->
        <section class="big_categori">
                <div class="grid-container">
                        <% if (AllHobbies && AllHobbies.length) { %>
                                <% for (let i = 0; i < AllHobbies.length; i++) { %>
                                        <div class="item<%= i + 1 %>">
                                        <p style="font-size: 30px; font-weight:bold; padding-bottom: 20px;"><%= AllHobbies[i].hobbyName %></p>
                                        <% if (AllHobbies[i].spring > 0) { %>
                                                <span id="possibleSeason" style="font-size: 15px;">봄 </span>
                                        <% } %>
                                        <% if (AllHobbies[i].summer > 0) { %>
                                                <span id="possibleSeason" style="font-size: 15px;">여름 </span>
                                        <% } %>
                                        <% if (AllHobbies[i].fall > 0) { %>
                                                <span id="possibleSeason" style="font-size: 15px;">가을 </span>
                                        <% } %>
                                        <% if (AllHobbies[i].winter > 0) { %>
                                                <span id="possibleSeason" style="font-size: 15px;">겨울 </span>
                                        <% } %>
                                        <p style="font-size: 15px; padding: 11px;">예산: <%= AllHobbies[i].budget %></p>
                                        <p style="font-size: 15px; padding-bottom: 11px;">소요시간: <%= AllHobbies[i].takeTime %></p>
                                        <p style="font-size: 15px; padding-bottom: 11px;">활동성: <%= AllHobbies[i].activity %></p>
                                        </div>
                                <% } %>
                        <% } else { %>
                                <p>취미가 없습니다.</p>
                        <% } %>

                </div>
        </section>
   </main>
   <%- include('footer.ejs') %>
</body>
</html>
