<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auction</title>
    <!-- 웹 브라우저 기본 스타일 초기화 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
    <!-- css 연결 -->
    <link rel="stylesheet" href="./auction.css" />
</head>
<body>
    <!-- 헤더 -->
    <header>
        <div class="inner">
            <div id="container">
                <div id="logo">
                    <img src="https://github.com/hyeji2021/LalLa/blob/main/lee/logo.png?raw=true" width="100px">
                </div>
                <nav>
                    <ul>
                        <li>
                            <a href="/"> 
                                <span>취미 둘러보기</span>
                            </a>
                        </li>
                        <li>
                            <a href="/"> 
                                <span>취미 추천 받기</span>
                            </a>
                        </li>
                        <li>
                        <a href=""> 
                                <span>취미 물품 경매</span>
                            </a>
                        </li>
                        <li>
                            <a href="/"> 
                                <span>게시판</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="search">
                    <form action="search" method="get" class="search-form">
                        <input type="text" class="search-bar" name="query" placeholder=" 검색어를 입력해주세요" />
                        <button type="submit" class="search-btn" onclick="">
                            <img src="https://github.com/hyeji2021/LalLa/blob/main/main/images/search.png?raw=true" alt="검색">
                        </button>
                    </form>
                </div>
                <div id="myPage">
                    <a href="/login">
                        <span>로그인</span>
                    </a>
                    <a href="/signup">
                        <span>회원가입</span>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="auction-page">
        <div class="auction-header">
            <div class="auction_search">
                <form action="search" method="get" class="auction_search-form">
                    <input type="text" class="auction_search-bar" name="query" placeholder="취미 물품 검색" />
                    <button type="submit" class="auction_search-btn" onclick="">
                        <img src="https://github.com/hyeji2021/LalLa/blob/main/main/images/search.png?raw=true" alt="검색">
                    </button>
                </form>
            </div>
            <select>
                <option value="">선택하세요</option>
                <option value="newest">최신순</option>
                <option value="popular">인기순</option>
                <option value="lowprice">낮은가격순</option>
                <option value="highprice">높은가격순</option>
            </select>
            <button type="submit" class="auction_upload-btn" onclick="">경매 물품 올리기</button>
        </div>
        <div class="auction-container">
            <% getAuction.forEach((auction, index) => { %>
            <article class="auction">
                <div class="auction-img">
                    <a href="">
                        <img src="https://github.com/hyeji2021/LalLa/blob/main/main/images/soccer%20ball.jpg?raw=true" alt="">
                    </a>
                </div>
                <div class="auction-info">
                        <div class="auction-num"><%= auction.auctionNum %></div>
                        <div class="auction-item"><%= auction.itemName %></div>
                    <div class="auction-price">
                        <dl class="price-lsit">
                            <dt>시작가</dt>
                            <dd><%= auction.startingPrice %></dd>
                        </dl>
                        <dl class="price-lsit">
                            <dt>호 가</dt>
                            <dd><%= auction.askingPrice %></dd>
                        </dl>
                        <dl class="price-lsit">
                            <dt>현재가</dt>
                            <span class="auction-item"><%= auction.startingPrcie %></span>
                        </dl>
                    </div>
                    <div class="auction-details">
                        <div id="remain-time<%= index %>"></div>
                        <a href=""><span class="details">상세보기</span></a>
                    </div>
                </div>
            </article>
        </div>
    </div>

    <!-- js 연결 -->
    <script>
        const endDate<%= index %> = new Date("<%= auction.endDate %>");
        const remainTime<%= index %> = document.querySelector("#remain-time<%= index %>");
        
        function diffDay<%= index %>() {
            const today = new Date();
            const diff = endDate<%= index %> - today;
                
            const diffDay = Math.floor(diff / (1000*60*60*24));
            const diffHour = Math.floor((diff / (1000*60*60)) % 24);
            const diffMin = Math.floor((diff / (1000*60)) % 60);
            const diffSec = Math.floor((diff / 1000) % 60);
            
            if (diffDay < 0 || diffHour < 0 || diffMin < 0 || diffSec < 0) {
                 remainTime<%= index %>.textContent = "경매종료";
                 return;
            }

            remainTime<%= index %>.textContent = `${diffDay}일 ${diffHour}:${diffMin}:${diffSec}`;
        }
        diffDay<%= index %>();
        setInterval(diffDay<%= index %>, 1000);
    </script>
    <% }) %>
</body>
</html>
